SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=AskKolesnikova
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_BROKER_DB=1
REDIS_BEAT_DB=2

EMAIL_HOST=maildev
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=noreply@ask.local

CENTRIFUGO_API_URL=http://centrifugo:8000/api
CENTRIFUGO_API_KEY=centrifugo-api-key
CENTRIFUGO_TOKEN_HMAC_SECRET=centrifugo-secret
CENTRIFUGO_WS_URL=ws://127.0.0.1:8001/connection/websocket